# dependencies
node_modules/

# production
dist/

# env files
.env
.env.*

# logs
logs
*.log
pnpm-debug.log*

# tests
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# cache
.cache/
.eslintcache

# prisma
prisma/dev.db
prisma/dev.db-journal

# generated
*.tsbuildinfo